<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bodyshopMapper">
   <select id="bodyshopLogin" parameterType="BodyshopVO" resultType="BodyshopVO">
      select * from bodyshop
      where bodyshop_id = #{bodyshop_id} and
      bodyshop_pw = #{bodyshop_pw}
   </select>
   
   <insert id="addBodyshop" parameterType="BodyshopVO">
      insert into bodyshop(bodyshop_no, bodyshop_id, bodyshop_pw, bodyshop_name, bodyshop_address, bodyshop_lat, bodyshop_long)
      values(#{bodyshop_no},#{bodyshop_id},#{bodyshop_pw},#{bodyshop_name},#{bodyshop_address},#{bodyshop_lat},#{bodyshop_long})
   </insert>
   
   <update id="updateBodyshopPassword">
      update bodyshop set bodyshop_pw = #{bodyshop_pw}
   </update>
   
   <delete id="removeBodyshop" parameterType="BodyshopVO">
      delete from bodyshop where bodyshop_id=#{bodyshop_id} and bodyshop_pw=#{bodyshop_pw}
   </delete>
   
   <select id="searchBodyshop" parameterType="BodyshopVO"
      resultType="BodyshopVO">
      select * from bodyshop where
      bodyshop_address like '%'||#{bodyshop_address}||'%' and
      bodyshop_name like '%'||#{bodyshop_name}||'%'
   </select>
   
   <select id="getBodyshoplist" resultType="Bodyshopvo">
      select * from bodyshop 
   </select>
   
</mapper>