<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="car">
	<select id="getCar" resultType="carvo">
		select * from car where car_id=#{car_id} 
	</select>
	<insert id="insertCar">
		insert into car(car_id, car_no, car_color, tire_change_distance, wiper_change_distance, cooler_left, engine_oil_viscosity, distance)
		values(#{car_id},select nvl(max(car_no),0)+1 from car),#{car_color},#{tire_change_distance},#{wiper_change_distance},#{cooler_left},#{engine_oil_viscosity},#{distance})
	</insert>
	<update id="updateTireDistance">
		update car set tire_change_distance=#{tire_change_distance} where car_id=#{car_id}
	</update>
	<update id="updateWiperDistance">
		update car set wiper_change_distance=#{wiper_change_distance} where car_id=#{car_id}
	</update>
	<update id="updateCooler">
		update car set cooler_left=#{cooler_left} where car_id=#{car_id}
	</update>
	<update id="updateEngineOil">
		update car set engine_oil_left=#{engine_oil_viscosity} where car_id=#{car_id}
	</update>
	<update id="updateDistance">
		update car set distance=#{distance} where car_id=#{car_id}
	</update>
	<delete id="deleteCar">
		delete car where car_id=#{car_id}
	</delete>
	<select id="getCarList" resultType="carvo">
		select * from car
	</select>
</mapper>