<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="carbodyshop">
	<select id="bodylogin" parameterType="carbodyshopvo"
		resultType="carbodyshopvo">
		select * from bodyshop
		where bodyshop_id = #{bodyshop_id} and
		bodyshop_pw = #{bodyshop_pw}
	</select>
	
</mapper>