<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<select id="memberLogin" parameterType="MemberVO" resultType="MemberVO">
		SELECT member.member_no, member.member_id, member.member_pw, 
				member_mname, member_phonenumber, car.car_no, car.car_id, car.car_type , car.car_color
				FROM member 
				JOIN car 
				ON member.member_no = car.member_no 
				WHERE member_id = #{member_id} and member_pw = #{member_pw}
	</select>
	
	<select id="dupcheck" resultType="MemberVO">
		select member_id from member where member_id = #{member_id}
	</select>

	<select id="getMember" parameterType="MemberVO" resultType="MemberVO">
		select * from member
		where member_id = #{member_id}
	</select>

	<insert id="addMember" parameterType="MemberVO">
		insert into member (member_no, member_id, member_pw, member_mname,member_phonenumber) 
		values ((select nvl(max(member_no),0)+1 from member),#{member_id}, #{member_pw}, #{member_mname}, #{member_phonenumber})
	
		insert into car (car_no,car_type,car_id,car_color,member_no) values ((select nvl(max(car_no),0)+1 from car), #{car_type}, #{car_id},#{car_color},(select nvl(max(member_no),0) from member))
	</insert>

	<select id="listMember" resultType="MemberVO">
		select * from member order by
		to_number(member_no) asc
	</select>

	<!-- getMemberList -->
	<select id="getMemberList" resultType="com.chavis.biz.vo.MemberListVO">
		SELECT reservation_no, bodyshop_no, repaired_person, reservation_time, repaired_time, key 
		FROM RESERVATION JOIN MEMBER ON RESERVATION.member_no = MEMBER.member_no
		WHERE MEMBER.member_no = 
					(select member_no from member where member_id= #{member_id})
		 ORDER BY reservation_no
	</select>

	<update id="updateMember" parameterType="map">
		update member set
		member_pw = #{member_pw},
		member_mname = #{member_mname},
		member_phonenumber=#{member_phonenumber} where member_id =#{member_id}
		
		update car set
		car_id = #{car_id},
		car_color = #{car_color},
		car_type = #{car_type}
		where member_no = (select member_no from member where member_id= #{member_id});
	</update>

	<update id="removeMember">
		delete from member where member_id = #{member_id}
	</update>

	<select id="selectMemberList" parameterType="map" resultType="MemberVO">
		select *
		from (
		select ROWNUM AS rnum, A.* from member A
		<where>
			<if test="member_id != null and member_id != ''">member_id = #{member_id}</if>
			<if test="member_name != null and member_name != ''">member_name like '%' || #{member_name} || '%' </if>
		</where>
		) T
		<!-- < 부등호를 사용하기 위해서는 cdata를 이용해야함 -->
		WHERE T.rnum >= #{startIndex} and T.rnum
		<![CDATA[<]]>
		#{lastIndex}
	</select>
</mapper>